:root {
   --color-primary: rgb(11, 84, 219);
   --color-secondary: rgb(45, 118, 255);

   
}

.text-primary { color: var(--color-primary) !important; }

.text-primary-hover:hover {
  color: var(--color-primary) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-primary-hover:hover {
  background-color: var(--color-primary) !important;
}

.bg-secondary-hover:hover {
  background-color: var(--color-secondary) !important;
}

.border-primary {
  border: 1px solid var(--color-primary) !important;
}

.border-primary-hover:hover {
  border: 1px solid var(--color-primary) !important;
}

.shadow-secondary-hover:hover {
  box-shadow: 0 4px 6px -1px rgba(var(--secondary-color-rgb), 0.4),
              0 2px 4px -2px rgba(var(--secondary-color-rgb), 0.3);
}